* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 100%;
	// scroll-behavior: smooth;
	scrollbar-width: 8px;
	outline: none;
}

html,
body {
	@include Roboto-Bold;
	height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	background-color: $white;
	color: $white;
	overflow-y: overlay;
	overflow-x: hidden;
	touch-action: pan-x pan-y;
	font-size: 6.4rem;

	&._lock {
		overflow-y: hidden;
	}

	@supports (-moz-appearance: none) {
		overflow-y: auto;
	}
}

.wrapper {
	position: relative;
	min-height: 100vh;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1117px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}


a {
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;

	@include min_tablet {
		cursor: pointer;
	}

	&:focus-visible {
		border: none;
	}

	:disabled {
		cursor: default;
	}
}

img,
video {
	width: 100%;
	height: auto;
	object-fit: cover;
	// pointer-events: none;
	// user-select: none;
}

div[id^='wait_comp_'] {
	display: none !important;
}

ul,
ol {
	list-style: none;
}
